body {
  font-family: Arial, sans-serif;
  background-color: #283618; /* Darker background color */
  color: #fefae0; /* Lighter font color */
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 24px;
  background-color: #606c38; /* Darker green for container background */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
  color: #dda15e; /* Accent color for title */
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #fefae0; /* Light font color for labels */
  margin-bottom: 8px;
}

.form-input {
  width: 95.5%;
  padding: 8px;
  font-size: 14px;
  color: #283618; /* Darker text color */
  background-color: #fefae0; /* Lighter input background */
  border: 1px solid #dda15e; /* Accent border color */
  border-radius: 4px;
}

.form-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fefae0; /* Light text color */
  background-color: #bc6c25; /* Button background color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #dda15e; /* Lighter hover color */
}

.question-list {
  margin-top: 24px;
}

.question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #fefae0; /* Light border color */
}

.question-text {
  font-size: 16px;
  font-weight: 500;
  color: #fefae0; /* Light text color */
}

.answer-text {
  font-size: 14px;
  color: #dda15e; /* Accent text color for answers */
}

.action-buttons {
  display: flex;
}

.action-button {
  font-size: 14px;
  color: #dda15e; /* Accent color for action buttons */
  margin-left: 12px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.action-button:hover {
  color: #bc6c25; /* Hover color for action buttons */
}

.delete-button {
  color: #bc6c25; /* Accent color for delete button */
}

.delete-button:hover {
  color: #b03131; /* Darker red on hover */
}
