body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fefae0;
  background-color: #283618;
}

.App {
  margin-top: 40%;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .App {
    margin-top: 10%;
  }
}

  header {
    margin-bottom: 2rem;
    text-align: center;
  }

  header img {
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  header h1 {
    font-size: 1.875rem; /* 3xl */
    font-weight: bold;
  }

  header p {
    color: #bc6c25;
    margin-top: 0.5rem;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    background-color: #dda15e;
    color: #283618;
    border: 1px solid #bc6c25;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem; /* rounded-lg */
    padding: 0.75rem 1.5rem; /* px-6 py-3 */
    display: flex;
    align-items: center;
    gap: 0.75rem; /* space-x-3 */
    transition: background-color 0.3s;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  button img {
    width: 1.5rem; /* w-6 */
    height: 1.5rem; /* h-6 */
  }

  button:hover {
    background-color: #bc6c25;
  }

  footer {
    margin-top: 2rem;
    text-align: center;
  }

  footer a {
    color: #fefae0;
    text-decoration: none;
    font-size: 0.875rem; /* text-sm */
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer span {
    color: #fefae0;
    margin: 0 0.5rem; /* mx-2 */
  }